# Network Configuration (11155111 for Sepolia)
NEXT_PUBLIC_CHAIN_ID=11155111

# Juicebox V3 Configuration (Sepolia)
# Project ID from juicebox.money
NEXT_PUBLIC_JB_PROJECT_ID=
# ETH Payment Terminal Address (V3.1.2)
NEXT_PUBLIC_JB_ETH_TERMINAL_ADDRESS=0x55d4dfb578daA4d60380995ffF7a706471d7c719

# Data Providers
# Alchemy or Infura Key (Optional for better RPC performance)
NEXT_PUBLIC_ALCHEMY_API_KEY=
# The Graph URL for Juicebox V3 Sepolia
NEXT_PUBLIC_SUBGRAPH_URL=https://api.studio.thegraph.com/query/50618/juicebox-v3-sepolia/version/latest

# Wallet Connect Project ID (from cloud.walletconnect.com)
NEXT_PUBLIC_WALLET_CONNECT_ID=
